services:
  call_iq:
    image: call_iq:${IMAGE_TAG}
    build: .
    command: sleep infinity
    tty: true
    working_dir: /app
    shm_size: "32g"
    security_opt:
      - seccomp=unconfined
      - apparmor=unconfined
      - label=disable
    volumes:
      - .:/app
      - call_iq_cache:/root/.cache
    secrets:
      - ssh_private_key
      - ssh_public_key
      - ssh_known_hosts
    gpus: all

volumes:
  call_iq_cache:

secrets:
  ssh_private_key:
    file: ${HOME}/.ssh/id_ed25519
  ssh_public_key:
    file: ${HOME}/.ssh/id_ed25519.pub
  ssh_known_hosts:
    file: ${HOME}/.ssh/known_hosts
