alembic
debugpy
fastapi
faster-whisper>=1.2.1
isort
openai-whisper
psycopg[binary]
PyYAML
requests
sqlmodel
torch==2.8.0+cu126
--extra-index-url https://download.pytorch.org/whl/cu126
torchaudio==2.8.0+cu126
torchvision==0.23.0+cu126
tqdm>=4.66
uvicorn[standard]
whisperx